$primary-color-light: #f1f5f9;
$primary-color-night: #334155;
$text-color-light: #36597d;
$text-color-night: #94a3b8;

* {
  box-sizing: border-box;
  transition: all 0.2s ease-in-out;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Jost', sans-serif;
  margin: 0 auto;

  background: $primary-color-light;
}

.grid {
  display: grid;
  justify-content: center;

  grid-template-columns: repeat(4, 80px);
  gap: 20px 20px;
}

.container {
  width: 430px;
  padding: 30px 25px;
}

.calculator {
  .calculator__title {
    font-size: 24px;
    color: $primary-color-night;
  }

  .calculator__panel {
    text-align: right;
    margin: 30px 0px;
    height: 130px;

    &-decision {
      font-size: 16px;
      color: $text-color-night;

      height: 25px;
    }

    &-result {
      font-size: 72px;
      color: $primary-color-night;

      height: 105px;

      word-wrap: break-word;
      overflow: hidden;
    }
  }

  .calculator__button {
    //   all: unset;
    min-width: 80px;
    min-height: 80px;

    font-size: 24px;
    cursor: pointer;

    text-align: center;

    color: $text-color-light;
    background-color: $primary-color-light;

    box-shadow: 8px 8px 16px #c9d9e8, -8px -8px 16px #ffffff;
    border-radius: 24px;
    border: 1px solid transparent;

    &:active {
      box-shadow: inset 8px 8px 16px #c9d9e8, inset -8px -8px 16px #ffffff;
    }

    &:hover {
      border: 1px solid $text-color-light;
    }

    &-long {
      grid-row: span 2;
      color: $text-color-night;
      background-color: $primary-color-night;

      &:active {
        box-shadow: inset 8px 8px 16px #263140, inset -8px -8px 16px #394960;
      }

      &:hover {
        border: 1px solid $text-color-night;
      }
    }

    &-width {
      grid-column: span 2;
    }
  }
}
